<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<h1>Salut et merci pour ta commande de jolies chatons !</h1>

<p>
  Ci-joint, tu trouveras les photos que tu as commandé !</p>
<p>
  À très vite sur monsite.fr !
</p>
<p>
  <% @order.products.each do |product| %>
    <%if product.avatar.attached?%>
      <%= image_tag(product.avatar) %>
    <%else%>
      <img src="<%= product.image_url %>">
    <%end%>
  <% end %>
</p>
  </body>
</html>