// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body p {
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
}

p {
	text-align: justify;
	text-justify: inter-word;
}

.text-white {
	text-align:center;
}
